In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value =0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A -0.870401 -0.779939 -1.850659  0.369554 -1.165351
B  0.957750 -0.010807  0.636661  0.982337  0.196977
D -0.128612  0.973737 -0.386535 -0.426004  0.900942
E  0.092951 -0.483677 -0.880436  1.850698  0.581143
F  0.613512 -0.087603 -1.156613  0.605141 -0.089003

In [11]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -0.870401 -0.779939 -1.850659  0.369554 -1.165351
B  0.957750 -0.010807  0.636661  0.982337  0.196977
C       NaN       NaN       NaN       NaN       NaN
D -0.128612  0.973737 -0.386535 -0.426004  0.900942
E  0.092951 -0.483677 -0.880436  1.850698  0.581143
F  0.613512 -0.087603 -1.156613  0.605141 -0.089003

In [12]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [13]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.870401 -0.779939 -1.850659  0.369554 -1.165351   NaN
B  0.957750 -0.010807  0.636661  0.982337  0.196977   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.128612  0.973737 -0.386535 -0.426004  0.900942   NaN
E  0.092951 -0.483677 -0.880436  1.850698  0.581143   NaN
F  0.613512 -0.087603 -1.156613  0.605141 -0.089003   NaN

In [14]:
dframe

       col1      col2      col3      col4      col5
A -0.870401 -0.779939 -1.850659  0.369554 -1.165351
B  0.957750 -0.010807  0.636661  0.982337  0.196977
D -0.128612  0.973737 -0.386535 -0.426004  0.900942
E  0.092951 -0.483677 -0.880436  1.850698  0.581143
F  0.613512 -0.087603 -1.156613  0.605141 -0.089003

In [16]:
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -0.870401 -0.779939 -1.850659  0.369554 -1.165351   NaN
B  0.957750 -0.010807  0.636661  0.982337  0.196977   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.128612  0.973737 -0.386535 -0.426004  0.900942   NaN
E  0.092951 -0.483677 -0.880436  1.850698  0.581143   NaN
F  0.613512 -0.087603 -1.156613  0.605141 -0.089003   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A -0.870401 -0.779939 -1.850659  0.369554 -1.165351
B  0.957750 -0.010807  0.636661  0.982337  0.196977
D -0.128612  0.973737 -0.386535 -0.426004  0.900942
E  0.092951 -0.483677 -0.880436  1.850698  0.581143
F  0.613512 -0.087603 -1.156613  0.605141 -0.089003