In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser1 = Series(np.arange(3), index=['A', 'B', 'C'])

ser1= 2*ser1

ser1

A    0
B    2
C    4
dtype: int32

In [4]:
ser1['B']

2

In [5]:
ser1[1]

2

In [6]:
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [7]:
ser1[['A', 'B']]

A    0
B    2
dtype: int32

In [9]:
ser1[ser1>3]

C    4
dtype: int32

In [10]:
ser1[ser1>3] = 10

In [11]:
ser1

A     0
B     2
C    10
dtype: int32

In [16]:
df = DataFrame(np.arange(9).reshape((3,3)), index=['NYC', 'LA', 'SF'], columns=['A', 'B', 'C'])

In [17]:
df

     A  B  C
NYC  0  1  2
LA   3  4  5
SF   6  7  8