In [24]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [25]:
dframe = pd.read_csv('new.csv')

In [26]:
dframe

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser
0,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Federer R.,Sampras
1,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Henman T.,Martin
2,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Ivanisevic G.,Rusedski G.

In [27]:
dframe2 = pd.read_csv('new.csv', header=None)

In [28]:
dframe2

,0,1,2,3,4,5,6,7,8,9,10
0,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser
1,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Federer R.,Sampras
2,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Henman T.,Martin
3,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Ivanisevic G.,Rusedski G.

In [29]:
dframe3 = pd.read_table('new.csv', sep=',', header=None)

In [30]:
dframe3

,0,1,2,3,4,5,6,7,8,9,10
0,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser
1,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Federer R.,Sampras
2,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Henman T.,Martin
3,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Ivanisevic G.,Rusedski G.

In [31]:
pd.read_csv('new.csv', header=None, nrows=2)

,0,1,2,3,4,5,6,7,8,9,10
0,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser
1,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Federer R.,Sampras

In [32]:
pd.read_csv('new.csv', nrows=2)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser
0,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Federer R.,Sampras
1,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Henman T.,Martin

In [33]:
dframe

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser
0,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Federer R.,Sampras
1,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Henman T.,Martin
2,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Ivanisevic G.,Rusedski G.

In [34]:
dframe.to_csv('created.csv')

In [35]:
import sys

In [36]:
dframe.to_csv(sys.stdout)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser
0,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Federer R.,Sampras
1,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Henman T.,Martin
2,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Ivanisevic G.,Rusedski G.

In [37]:
dframe.to_csv(sys.stdout, sep='_')

_ATP_Location_Tournament_Date_Series_Court_Surface_Round_Best of_Winner_Loser
0_38_London_Wimbledon_25/06/2001_Grand Slam_Outdoor_Grass_4th Round_5_Federer R._Sampras
1_38_London_Wimbledon_25/06/2001_Grand Slam_Outdoor_Grass_4th Round_5_Henman T._Martin
2_38_London_Wimbledon_25/06/2001_Grand Slam_Outdoor_Grass_4th Round_5_Ivanisevic G._Rusedski G.

In [39]:
dframe.to_csv(sys.stdout, sep='?')

?ATP?Location?Tournament?Date?Series?Court?Surface?Round?Best of?Winner?Loser
0?38?London?Wimbledon?25/06/2001?Grand Slam?Outdoor?Grass?4th Round?5?Federer R.?Sampras
1?38?London?Wimbledon?25/06/2001?Grand Slam?Outdoor?Grass?4th Round?5?Henman T.?Martin
2?38?London?Wimbledon?25/06/2001?Grand Slam?Outdoor?Grass?4th Round?5?Ivanisevic G.?Rusedski G.

In [42]:
dframe

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser
0,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Federer R.,Sampras
1,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Henman T.,Martin
2,38,London,Wimbledon,25/06/2001,Grand Slam,Outdoor,Grass,4th Round,5,Ivanisevic G.,Rusedski G.

In [45]:
dframe.to_csv(sys.stdout, columns=[0,1,2])

KeyError: 'None of [[0, 1, 2]] are in the [columns]'